<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
	<meta charset="utf-8">
</head>
<body>
	{{> header }}
	<p>
		<h3>Likes</h3>
		{{#each likes}}
			<div>{{ this }}</div>
		{{/each}}
	</p>

	{{> footer }}
</body>
</html>